.title-image {
	width: 100%;
	height: auto;
}

.title-image img {

}

.login-box {
	width: 400px;
	height: 300px;
	background-color: rgba(229,229,229,0.4);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 200px;

	font-family: 'Lato-Bold';
	font-size: 250%;
	text-align: center;
	color: rgb(138,144,145);
}

.greeting {
	padding-top: 20px
}

#title {
	padding-top: 20px;
}

.login-box img {
	padding-top: 20px;
	width: 350px;
	height: auto;
}

#link {
	display: inline;
}

.login-copy {
	text-indent: 30px;
	margin: 0 auto;
	width: 600px;
	padding-top: 10px;
	padding-bottom: 40px;

	text-align: justify;
	font-family: 'Lato';
	font-size: 130%;
}